{% extends "layout.html" %}

{% block content %}
<style>
  /* temp inline styling */


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  /* Add some padding inside the card content */
  .content {
    padding: 2px 16px;
    position: relative;
    left: 25%;
    bottom: 60px;
    margin: -7%;
  }
</style>
<div style="width:90%;">
  <h2>{{ title }}.</h2>
  <h3>Dine venner</h3>
  <div>
    {% for friend in current_user.friend %}
    <div class="card">
      <img src="../static/content/img_avatar.png" alt="Avatar" style="width:20%">
      <div class="content">
        <form action="" method="post">
          <h4><b>{{friend.username}}</b></h4>
          <input type="hidden" name="friend_id" id="friend_id" value="{{ friend.id }}">
          {{ form1.hidden_tag() }}
          {{ form1.submit() }}
          {{ form1.errors.submit }}
        </form>
      </div>
    </div>
    {% endfor %}
    <div>
      <hr style="width:100%;text-align:center">
      <h3>Tilføj nye venner</h3>
      <!-- coding in progress -->
      <div>
        {% for user in users %}
        <div class="card">
          <img src="../static/content/img_avatar.png" alt="Avatar" style="width:20%">
          <div class="content">
            <form action="" method="post">
              <h4><b>{{user.username}}</b></h4>
              <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}">
              {{ form.hidden_tag() }}
              {{ form.submit() }}
              {{ form.errors.submit }}
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}