{% extends "layout.html" %}

{% block content %}
<p class="lead">
<h3>Bliv en del af noget st&oslash;rre, f&aring; nye venner og del oplevelser med billedere.</h3>
</p>
<img src="../static/content/tenor.gif" alt="Hell March Begins!">
</form>
<br />
<br />
{% endblock %}