﻿{% extends "layout.html" %}

{% block content %}
<div>

    <div class="upload">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.errors.image }}
            {{ form.title }}
            {{ form.image }}
            {{ form.description }}
            {{ form.submit }}
        </form>
    </div>
    <div>
        {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <img src="{{ post.imagePath }}" alt="" style="max-width:600px;width:100%">
            <h4>{{ post.author.username }}</h4>
            <p>{{ post.content }}</p>
            {% for comment in post.comments %}
            <h4>{{ comment.author.username }}</h4>
            <p>{{ comment.comment }}</p>

            {% endfor %}

        </div>
        <form action="" method="post">
            <div>
                <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
                {{ form1.hidden_tag() }}
                {{ form1.errors.comment }}
                {{ form1.comment }}
                {{ form1.submit }}
            </div>
        </form>
        <hr>
        {% endfor %}

    </div>
</div>
{% endblock %}